.room {
	background-color: rgb(43, 51, 88);
	display: inline-block;
	border-radius: 2.5em;
	border: 2px solid yellowgreen;
	margin: 0.5em 1em 2em;
	padding: 1em 2.25em;
	h1 {
		color: rgb(148, 255, 255);
		font-size: 1.5em;
	}
}
